* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f2f4f7;
}

.login-container {
  height: 550px;
  width: 50%;
  display: flex;
  margin: auto;
  transform: translateY(110px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #fff;
  border-radius: 5px;
}

.form-side {
  width: 50%;
  flex: 1;
  padding: 20px;
}

#login-text {
  text-align: center;
  color: #000;
  font-size: 28px;
  margin-top: 70px;
  margin-bottom: 5px;
  font-weight: 600;
}

#text-1 {
  text-align: center;
  font-size: medium;
  color: #807e7e;
  margin-bottom: 20px;
  height: 17px;
}

#text-2 {
  text-align: center;
  color: black;
  font-size: small;
  margin-bottom: 20px;
}

#main-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 100%; */
  gap: 10px;
}

.barber-id .password-input {
  width: 100%;
  text-align: center;
}

.barber-id label,
.password-input label {
  display: block;
  text-align: left;
  margin-left: 52px;
  margin-bottom: 3px;
  font-size: 12.67px;
  font-weight: 500;
}

/* Input fields container */
.input-container {
  position: relative; /* Ensure the container takes full width */
  /* max-width: 358.33px;  Optional, limits max width of the input */
  margin: 0 auto; /* Center align input container */
  height: 40px; /* Ensure container has a defined height */
  margin-bottom: 10px;
  width: 100%;
}

input[type="checkbox"] {
  transform: scale(0.8); /* Adjust scale to make it smaller */
  border-radius: 70px;
  right: 70px;
}

label[for="remember-me"] {
  font-size: 12px;
  text-align: left;
}

/* Input fields */
.barber-id input,
.password-input input {
  width: 100%;
  height: 40.34px;
  border-radius: 20px;
  padding-left: 40px; /* Creates space for the icon */
  box-shadow: 0 0 2px #807e7e;
  border: none;
  outline: none;
  font-size: 12.38px;
  margin: 0 auto; /* Center the input fields */
}

#login-btn {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  color: #fff;
  background-color: #000;
  font-size: medium;
  transform: translateY(10px);
  border: none;
  outline: none;
  cursor: pointer;
  margin-bottom: 20px;
}

#sign-up-link,
#reset-pass-link {
  text-align: center;
  font-size: 13.5px;
  margin-top: 20px;
  font-size: small;
}

#sign-up-link a {
  color: #000;
}

#reset-pass-link a {
  font-size: x-small;
  color: #000;
}

@media (max-width: 1024px) {
  body {
    height: 100vh;
    background-image: url("../images/Doctors.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .login-container {
      position: relative;
      width: 100%;
      background: transparent;
      z-index: 2;
      border: none;
      outline: none;
      overflow: hidden;
      transform: translateY(-10px);
    }

    #login-text,
    #text-1,
    #text-2,
    #sign-up-link,
    #reset-pass-link {
      color: #fff;
      text-align: center;
    }

    #sign-up-link,
    a #reset-pass-link,
    a {
      color: #fff;
      text-align: center;
      /* font-size: large;  */
    }

    .barber-id input::placeholder,
    .password-input input::placeholder {
      font-size: 14px; /* Adjust placeholder text size */
    }

    #reset-pass-link {
      font-size: xx-small;
    }

    .barber-id label,
    .password-input label {
      color: #fff;
      font-size: 16px;
    }

    .barber-id input,
    .password-input input {
      width: 100%;
      background-color: transparent;
      color: #fff;
      border: 2px solid #fff;
      border-radius: 20px;
      padding: 10px;
      outline: none;
      font-size: 14px;
      padding-left: 35px;
    }

    #login-btn {
      width: 100%;
      background-color: #fff;
      color: #000;
      padding: 10px;
      border-radius: 20px;
      cursor: pointer;
      font-size: 16px;
      border: none;
      /* outline: none; */
    }

    .barber-id input::placeholder,
    .password-input input::placeholder {
      color: #fff; /* White placeholder text */
    }
  }

  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }

  label[for="remember-me"] {
    color: #ffffff;
  }

  #reset-pass-link a {
    text-decoration: none;
    color: white;
  }
}

.form-control {
  width: 100%;
  margin: 0 auto;
}

.barber-id input,
.password-input input,
#login-btn {
  width: 100%;
  height: 40px;
  border-radius: 20px;
}
